<%- include('header.ejs', {titleTall: true, title: 'Forecast Across The Region' , hasTime: true }) %>
	<div class="main has-scroll regional-forecast has-box">
		<div class="container">
			<div class="column-headers">
				<div class="location">City</div>
				<div class="weather">Weather</div>
				<div class="temp-low">Low</div>
				<div class="temp-high">Hi</div>
			</div>
			<div class="forecast-lines">
				<div class="forecast-row template">
					<div class="location"></div>
					<div class="weather"></div>
					<div class="temp-low"></div>
					<div class="temp-high"></div>
				</div>
			</div>
		</div>
	</div>
	<%- include('scroll.ejs') %>