<div class="scroll">
	<div class="date-time">
		<div class="date-time date"></div>
		<div class="date-time time"></div>
	</div>

	<div class="scrolling template"></div>
	<div class="fixed"></div>
</div>