@use 'shared/_colors'as c;
@use 'shared/_utils'as u;
@use 'shared/_margins'as m;

.weather-display .main.current-weather {
	margin-left: m.$left-right;
	margin-right: m.$left-right;
	width: calc(100% - 2 * m.$left-right);
	margin-top: 40px;
	height: 360px;

	.weather {
		font-family: 'Star3000';
		font-size: 24pt;
		@include u.text-shadow();
		position: relative;
		height: 40px;

		div {
			max-height: 40px;
			overflow: hidden;
		}
	}
}